.career-main-con{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 2rem;
}
.career-con{
    width: 20rem;
    min-height: 20rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}
.career-image{
    text-align: center;
    width: 10rem;
    height: 5rem;
    margin: 0.5rem;
}
.career-image img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.career-con h3{
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 25px;
    font-weight: 500px;

}
.deadline{
    color: red;
    font-weight: 500;
}
.career-con p{
    padding: 0.3rem ;
}
.readmore{
    font-family: 'Roboto';
    font-size: 20px;
    color: black;
    font-weight: 400;
}
.readmore:hover{
    cursor: pointer;
}