.career-main-con{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
}
.career-con {
    border: 1px solid black;
    border-radius: 10px;
    margin: 1rem 2rem;
    width: auto;
    height: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.one-row{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    /* border: 1px solid black; */
    justify-content: space-evenly;
    align-items: center;
}
.two-row{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    align-items: center;
}
.three-row{
    display: grid;
    grid-template-columns: 40% 40% ;
    justify-content: center;
   
}
.four-row{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    align-items: center;
}
.career-con p{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 29.05px;
    letter-spacing: 0.05em;
    text-align: left;
    opacity: 60%;
}
.span-item{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 29.05px;
    letter-spacing: 0.05em;
    text-align: left;
}
.career-con button{
   
    margin: 0rem 2rem;
    border: 1px solid #DF4B2D;
    width: 10rem;
    height: 3rem;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30.73px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #DF4B2D;    
    float: right;
}