.home-notifi-main-con{
    border: 1px solid #E14C2E;
    border-top: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-bottom: 1rem;
}

.home-notifi-sub-con{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    padding: 1rem;
    border-right: 1px solid #E2DCDC;
}
.date{
    color: #1981D5;
}
.home-notifi-main-con button{
    width: 10rem;
    height: 2.5rem;
    background-color: #1981D5;
    color: white;
    
}
.viewallcareers{
    display: flex;
    padding-right: 2rem;
    justify-content: right;
    align-items: center;
}