.top-header{
    border: 1px solid black;
    height: 4rem;
    background-color: #0E0A38;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    justify-content: center;

}
.top-header img{
    width: 1.5rem;
    height: 1.5rem;
}
.main-course-search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-course-search input{
    background-color: #FFFFFF;
    height: 2rem;
    border-radius: 10px;
    text-align: center;
}
.top-head-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.top-head-contact div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.top-head-contact p{
    color: white;

}
.top-head-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}